<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <receiver
            android:name=".widget.NewAppWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <!--<provider
            android:name=".provider.MyContentProvider"
            android:authorities="com.xxh.android"
            android:enabled="true"
            android:exported="true" />
-->
        <receiver
            android:name=".broadcast.MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.PrimaryItemDetailHostActivity"
            android:exported="false"
            android:label="@string/title_activity_primary_item_detail_host"
            android:resizeableActivity="true"
            android:theme="@style/Theme.AndroidSampleActionBar"
            tools:targetApi="24" />
        <activity
            android:name=".activity.ResponsiveViewsActivity"
            android:exported="false"
            android:label="@string/title_activity_responsive_views"
            android:resizeableActivity="true"
            android:theme="@style/Theme.AndroidSample.NoActionBar"
            tools:targetApi="24" />
        <activity
            android:name=".activity.NavigationDrawerViewsActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation_drawer_views"
            android:theme="@style/Theme.AndroidSample.NoActionBar" />
        <activity
            android:name=".activity.TabbedViewsActivity"
            android:exported="false"
            android:label="@string/title_activity_tabbed_views"
            android:theme="@style/Theme.AndroidSample.NoActionBar" />
        <activity
            android:name=".activity.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ScrollingActivity"
            android:exported="false"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.AndroidSample.NoActionBar" />
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ComponentMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".activity.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/Theme.AndroidSample.Fullscreen" />
        <activity
            android:name=".activity.BottomNavigationViewsActivity"
            android:exported="false"
            android:label="@string/title_activity_bottom_navigation_views"
            android:theme="@style/Theme.AndroidSampleActionBar" />
        <activity
            android:name=".activity.BasicViewsActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidSample" />
        <activity
            android:name=".activity.ComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_compose"
            android:theme="@style/Theme.AndroidSample" />
    </application>

</manifest>